@font-face {
    font-family: Rockinline;
    src: url(../fonts/Rockinline.ttf);
}

@font-face {
    font-family: TokyoGeisha;
    src: url(../fonts/TokyoGeishaDEMO-Regular.otf);
}

@keyframes logo {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.85;
    }


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}*::-webkit-scrollbar {
    display: none;
  }

.container{
    
}

.nav {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 150px;
    transform: 0.5s ease;
}

.navItems a {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    transform: 0.3 ease;
    font-family: 'Poppins', sans-serif;
}

.navItems a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.navItems a:hover:before {
    width: 100%;
}

.home {
    padding: 100px 200px;
    color: #fff;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content {
    z-index: 888;
    color: #fff;

}

.home h1 {
    text-align: center;
    font-family: Rockinline;
    font-size: 50px;
    padding: 1%;
}

.home p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    animation: logo 5s;
    margin: 1%;

}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.characters {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #dd5353;

}



.characters h1 {
    font-family: TokyoGeisha;
    font-size: 60px;
    text-align: center;
    padding: 1%;


}

.circleBackground {
    margin: 0;
    border: 1px solid black;
    z-index: 111;
}

.circleBg {
    opacity: 0.7;
    width: 60%;

}

.charBox {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 333;
    position: relative;
    background-image: url(../Imagens/human\ transmut\ 2.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
    

}

.charBox img {
    z-index: 111;

}

.descChar{
    text-align: start;
    z-index: 222;
    position: relative;
    margin-left:0;
    font-size: 30px;
    font-family: TokyoGeisha;
}

.charText {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    width: 100%;
    bottom: 10%;
    position: absolute;
    z-index: 222;
}

.pChar {
    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 3%;
}

.charBtn{
    display: block;
    justify-content: center;
    align-items: center;
    width: 716px;
    height: 140px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0);
    
}

.cBtn{
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    width: 68px;
    height: 66px;
    box-shadow: 0 0 0px rgba(0, 0, 0);
    
}

.cBtn:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0);
}

.imgBtn{
   width: 68px;
    height: 68px;
    border: 1px solid black;
}

.containerChar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}
